{% extends 'layout.html'%}
{% block content %}
<style>
    
     .column {
     float: left;
     padding: 20px;
     margin-left: 10px;
     
    }
    
    
    
</style>



<!-- <div class="container-l  text-white"> -->
    <!-- HEAD -->
    <div style="padding: 40px; margin-left:20px; " class=" header text-white">
        <br>
        <br>
        <h1 ><i class="fas fa-mobile-alt "></i> Controller </h1>
     </div>

     <!-- body -->
    <div class=" text-white" >
        
        <!-- colum -->
        <div class="row"> 
            
                <div class="column side" style="margin-left: 12%;">
                <!-- lamp -->
                <div>
                <h2><i class="fas fa-lightbulb"></i> Lamp <span class="badge badge-pill bg-warning">LED</span></h2>
                <h4>Status</h4>
                <form action="/LED">
                    <div class="custom-control custom-switch">
                        <input type="submit" class="custom-control-input" id="switch1" name="example">
                        <label class="custom-control-label" for="switch1">ON-OFF</label>
                    </div>
                </form>
                <br>
                <h4>Color mode</h4>
                
                <button type="button" class="btn btn-outline-primary">Blue</button>
                <button type="button" class="btn btn-outline-success">Green</button>
                <button type="button" class="btn btn-outline-info">Sky blue</button>
                <button type="button" class="btn btn-outline-warning">Yellow</button>
                <button type="button" class="btn btn-outline-danger">Red</button>
                <button type="button" class="btn btn-outline-light">light</button>
                </div>
                <!-- sleep -->
                <div style="margin-top:5% ;">

                    <h2><i class="fas fa-chart-bar"></i> Sleep <span class="badge badge-pill bg-secondary">Graph</span></h2>
                    <br>
                    <div class="bg-light" style="border-radius: 5px;">
                    <canvas id="myChart" width="400" height="400"></canvas>
                <script>
                var ctx = document.getElementById('myChart').getContext('2d');
                var myChart = new Chart(ctx, {
                    
                    type: 'bar',
                    data: {
                        
                        labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
                        datasets: [{
                            label: '# of Votes',
                            data: [7, 4, 8, 8, 7, 6,7],
                            backgroundColor: [
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(255, 159, 64, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 0, 0, 0.2)',

                            ],
                            borderColor: [
                                'rgba(255, 206, 86, 1)',
                                'rgba(255, 99, 132, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(255, 159, 64, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 0, 0, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
                 </script></div>
                   
                    
                </div>
                </div>    
                
                <div class="column middle"style="margin-left: 8%;" >
                    <!-- timer -->
                     <div> 
                         <h2><i class="fas fa-clock"></i> Timer <span class="badge badge-pill bg-danger">Alarm</span></h2>
                        <div><h4>Snooze</h4></div><div><h6 style="color: gray;">You can setting about times of snooze</h6></div>
                    </div>
                    <!-- bed -->
                    <div style="margin-top:35% ;">
                        <h2><i class="fas fa-bed"></i> Bed <span class="badge badge-pill badge-light">Motion</span></h2>
                        <div>
                        <h4>Function</h4>
                          <form action="/LED">
                            <h5><label for="customRange">Vibration switch <small style="color: gray;"">(This function use about alarm)</small></label></h5>
                            <div class="custom-control custom-switch">
                                <input type="submit" class="custom-control-input" id="switch1" name="example">
                                <label class="custom-control-label" for="switch1">ON-OFF</label>
                            </div>
                        </form>
                          <h5 style="margin-top:3% ;">Head bed degree</h5>
                          <div class="custom-control custom-radio custom-control-inline">
                            <a href="#" style="padding: 5px 9px; background-color: skyblue; border-radius: 5px; ">
                                <i class="fas fa-arrow-up"></i>
                            </a>
                          </div>
                          <div class="custom-control custom-radio custom-control-inline">
                            <a href="#" style="padding: 5px 9px; background-color: skyblue; border-radius: 5px; ">
                                <i class="fas fa-arrow-down"></i>
                            </a>
                          </div> 
                          
                        </div>
                    </div>
                    
                    <div class="progress" style="margin-top: 5%;">
                        <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 45%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="60"></div>
                      </div>
                      <div><br>
                            <h5>Footer bed degree</h5>
                              <div class="custom-control custom-radio custom-control-inline">
                                    <a href="#" style="padding: 5px 9px; background-color: skyblue; border-radius: 5px; ">
                                        <i class="fas fa-arrow-up"></i>
                                    </a>
                              </div>
                              <div class="custom-control custom-radio custom-control-inline">
                                    <a href="#" style="padding: 5px 9px; background-color: skyblue; border-radius: 5px; ">
                                        <i class="fas fa-arrow-down"></i>
                                    </a>
                              </div> 
                       </div>
                       <br>
                       <div class="progress">
                           <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="30"></div>
                         </div>
                         
                </div>
                    
                <div class="column side" style="margin-left: 8%;">
                    <!-- monitor -->
                        <h2><i class="fas fa-desktop" ></i> Monitor <span class="badge badge-pill badge-info">Status</span></h2> 
                        <div style="padding: 5%;" class="column side">
                            
                                <h1>
                                    <small>LED1</small> <i class="fas fa-power-off"></i>
                                    <br>
                                    <small>LED2</small> <i class="fas fa-power-off"></i> 
                                    <br>
                                    <small>LED3</small> <i class="fas fa-power-off"></i>
                                    <br>
                                    <small>LED4</small> <i class="fas fa-power-off"></i>
                                </h1>
                        </div>

                </div>

        </div>
       
        
    </div>
<!-- </div> -->

        
{% endblock %}
